<html>

    <head>
        <title>Walklabel</title>
    </head>
    <body>
      <div>
            <h1><a href="">WalkLabel</a></h1>
        </div>

        <div>
            <p>도보사용자를 위한 도보최적 어플입니다.</p>
            <h2><a href="">기술구현방법</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 19.08.13</p>
            <h2><a href="">기술시연</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
